<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us " }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ .Site.Title }}</title>

  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">{{ end }}

  <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
  <link rel="stylesheet" href="{{ "lib/fomantic/semantic.min.css" | relURL }}">
  <link rel="stylesheet" href="{{ "lib/blueimp-gallery/2.41.0/css/blueimp-gallery.min.css" | relURL }}" />

  <script src="{{ "js/jquery.min.js" | relURL }}"></script>
  <script src="{{ "lib/fomantic/semantic.min.js" | relURL }}"></script>
  <script src="{{ "lib/blueimp-gallery/2.41.0/js/blueimp-gallery.min.js" | relURL }}" defer></script>
  <script src="{{ "js/custom.js" | relURL }}" defer></script>

  {{ with .OutputFormats.Get "RSS" -}} {{ printf `
        <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}

</head>

<body>
  {{ partial "header" . }}

  {{ block "main" . }}
  {{ end }}

  {{ partial "footer" . }}
</body>

</html>