{{ define "main" }}
    
    <div class="ui container">
        <br />
        <h1>{{ .Title }}</h1>    
        <hr class="ui divider" />
        {{ if isset .Params "steam_link" }}
        
        <a class="ui black button" target="_blank" href="{{ .Params.steam_link }}">
            <i class="steam icon"></i>
            Available on Steam
        </a>
        {{ end }}

        {{ if isset .Params "publisher_link" }}
        
        <a class="ui blue button" target="_blank" href="{{ .Params.publisher_link }}">
            <i class="external alternate icon"></i>
            Visit Publisher Website
        </a>
        {{ end }}

        <hr class="ui divider" />

        <p>
            {{ .Content }}
        </p>

        <br />
        <hr class="ui divider" />
        <br />


        <div id="gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
    
        <div id="carousel-links">
            
            {{ if isset .Params "videos_webm" }}
            {{ range .Params.videos_webm }}
                    <a
                        href="{{ . }}"
                        type="video/webm"
                        data-gallery
                    ></a>
                {{ end }}
            {{ end }}

            {{ if isset .Params "videos_youtube" }}
            {{ range .Params.videos_youtube }}
                    <a
                        data-youtube="{{ . }}"
                        href="https://www.youtube.com/watch/{{ . }}"
                        type="text/html"
                        data-gallery
                    ></a>
                {{ end }}
            {{ end }}

            {{ if isset .Params "images" }}
                {{ range .Params.images }}
                    <a href="{{ . }}"></a>
                {{ end }}
            {{ end }}

        </div>

        <br />

    </div>

    <script>
        $("#Blog").addClass("active");
    </script>

    <script src="/js/showcase.js" defer></script>
	
{{ end }}
