{{ with .Site.Params.global_message_error }}
  <div id="global-message-error" class="global-message">
    <div class="ui container">
      {{ . }}
    </div>
  </div>
{{ end }}

{{ with .Site.Params.global_message_warning }}
  <div id="global-message-warning" class="global-message">
    <div class="ui container">
      {{ . }}
    </div>
  </div>
{{ end }}

{{ with .Site.Params.global_message_info }}
  <div id="global-message-info" class="global-message">
    <div class="ui container">
      {{ . }}
    </div>
  </div>
{{ end }}


<header>

    <div class="ui stackable inverted secondary menu" style="background-color: #222222;">
        <div class="ui container">
            <div class="item">
                <a href="/"><img class="ui image" src="/images/jme-logo.png"/></a>
            </div>

            {{ with .Site.Menus.main }}
                {{ range . }}
                <a class="item" id="{{ .Name }}" href="{{ .URL | relURL }}">{{ .Name }}</a>
                {{ end }}
            {{ end }}

            <a class="item" href="https://hub.jmonkeyengine.org">Community</a>
            <a class="item" href="https://jmonkeystore.com">Store</a>


            <div class="right menu">
                {{ partialCached "social.html" . }}
            </div>
        </div>
    </div>

</header>
