<div class="ui container">
    <br />
    <br />
    <br />
    <h2 class="ui center aligned dividing header">Contribute to jMonkeyEngine</h2>
    <div class="ui raised segments">
        
        <div class="ui inverted red segment">
            <h4 class="ui header">
                <i class="code icon"></i>
                <div class="content">
                    Write Some Code
                </div>
            </h4>
        </div>
        <div class="ui segment">
            
            <p>
                If you have the ability to create some cool features, filters or technologies, contributing your code to the engine
                provides those features to everyone. Your contributions may even be given the spotlight in the news! Major contributors
                are given special ranks on the forum as a mark of respect for their generosity toward the engine.
            </p>

            <a class="ui red button" href="/contribute/">Learn More</a>

        </div>
        
        <div class="ui inverted green segment">
            <h4 class="ui header">
                <i class="book icon"></i>
                <div class="content">
                    Improve Documentation
                </div>
            </h4>
        </div>
        <div class="ui segment">

            <p>
                Documentation is essential to understand the engine and its capabilities. Maintaining complete and up-to-date information
                helps everyone utilize the engine effectively and makes learning how the engine works a much easier task. Whether it's a
                spelling correction or a complete page, every little helps!
            </p>

            <a class="ui green button" href="/contribute/">Learn More</a>

        </div>
        
        <div class="ui inverted blue segment">
            <h4 class="ui header">
                <i class="bug icon"></i>
                <div class="content">
                    Report Bugs
                </div>
            </h4>
        </div>
        <div class="ui segment">
            
            <p>
                Reporting problems with our engine ensures something gets done. It only takes a few minutes to submit an issue on github
                and starting the process. These reports keep our engine stable. Bug reporting is important!
            </p>

            <a class="ui blue button" href="/contribute/">Learn More</a>

        </div>

    </div>
    <br />
    <br />
</div>
