<div class="ui container">

  <h2 class="ui center aligned dividing header">Sponsor jMonkeyEngine</h2>

  <p>
    jMonkeyEngine is a completely free open-source gaming engine. In order for us
    to continually drive forward and compete in this ultra-competetive market
    we use community sponsorship to maintain our online presence and fund
    improvements. If you would like to help jMonkey by sponsoring us with a
    monthly or one-time payment navigate to our <a href="/sponsor">sponsorship page</a>
    containing all of the details and information about what happens to your
    sponsorship.
  </p>

  <p>
    <a class="ui big yellow fluid button" href="/sponsor/">
      <i class="info circle icon"></i>
      Visit Our Sponsorship Page
    </a>
  </p>

</div>
