<div class="ui container">
    <br />
    <br />
    
    <div class="ui three column stackable grid">
        
        <div class="column">
            <h2 class="ui top attached block header">
                <i class="shapes icon"></i>
                <div class="content">Physically Based Rendering</div>
            </h2>
            <div class="ui attached segment">
                Create realistic beautiful materials that make your game look modern and professional.
            </div>
        </div>
        
        <div class="column">
            <h2 class="ui top attached block header">
                <i class="th icon"></i>
                <div class="content">AppStates</div>
            </h2>
            <div class="ui attached segment">
                AppStates are the building blocks for your application. They help you separate your application into logical parts and can be used to quickly extend the base application. They can also be reused in other applications so you will quickly
                build your own library of AppStates and integrate publically available extensions easily into your application.
            </div>
        </div>
        
        <div class="column">
            <h2 class="ui top attached block header">
                <i class="magic icon"></i>
                <div class="content">Filters and Effects</div>
            </h2>
            <div class="ui attached segment">
                jME3 comes with a wide array of special effects, primarily through the use of post processor filters and particle emitters. These are the “smoke and mirrors” tricks that allow you to emulate the wondrous stuff of nature, such as water,
                fog, light scattering and of course, explosions.
            </div>
        </div>

    </div>

    <div class="ui three column stackable grid">
        
            <div class="column">
                <h2 class="ui top attached block header">
                    <i class="discourse icon"></i>
                    <div class="content">Fantastic Community</div>
                </h2>
                <div class="ui attached segment">
                    The jewel in jMonkey’s crown. Our community is second to none, and full of knowledgable helpful members.
                </div>
            </div>
            
            <div class="column">
                <h2 class="ui top attached block header">
                    <i class="store icon"></i>
                    <div class="content">Software Store</div>
                </h2>
                <div class="ui attached segment">
                    Browse the store for free assets created by the community. Sounds, models, textures, even tech demos are all available for free to download.
                </div>
            </div>
            
            <div class="column">
                <h2 class="ui top attached block header">
                    <i class="code branch icon"></i>
                    <div class="content">Open Source</div>
                </h2>
                <div class="ui attached segment">
                    jMonkeyEngine is completely free and open source! No splash screens, no fees and no requirement to mention jMonkeyEngine in your game at all.
                </div>
            </div>
            
        </div>



</div>