
<div id="main-image" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.0) 100%), url('/images/main-image2.jpg');">

    <div class="ui container" id="main-image-container">
        
        <span class="ui large text" id="main-image-text">
            A free, open source game engine, made especially for Java game developers who want to create 3D games using
            modern technology. The software is programmed entirely in Java, intended for wide accessibility and quick
            deployment.
        </span>

        <div>
            <br />
            
            <a class="ui large blue animated fade button" tabindex="0" href="/start/">
                <div class="visible content">Get Started<i class="angle right icon"></i></div>
                <div class="hidden content">
                    <i class="angle double right icon"></i>
                </div>
            </a>
        </div>
        
    </div>

</div>

<div id="top-shadow"></div>