<div class="ui container">
    <br/><br/>
    <h1 class="ui center aligned header">
        Media Showcase
        <div class="sub header">Take at look at some of the games and media created by the jMonkey community!</div>
    </h1>
    
    <a class="ui huge inverted animated fade circular blue fluid button" href="/showcase/">
        

        <div class="visible content">
            <i class="photo video icon"></i>Browse Media
        </div>
        
        <div class="hidden content">
            GO <i class="angle double right icon"></i>
        </div>

    </a>
    
    <br/><br/>
</div>>